<div class="background-image-apresentacao">
    <div class="container-conteudo">
        <div class="button-donate-online-logo" data-aos="zoom-out-up" data-aos-duration="1500">
            <button type="button" class="btn btn-danger"><img
                    src="../../assets/img/icones/contorno-em-forma-de-coracao.png" alt=""></button>
        </div>

        <h2 class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block" data-aos="zoom-out-up" data-aos-duration="1500">Que os homens nos
            considerem como ministros de Cristo, <br> e despenseiros dos mistérios de Deus</h2>
        <div class="mobile" data-aos="zoom-out-up">
            <h2 class="d-xxl-none d-xxl-block d-xl-none">Que os homens nos considerem como ministros de Cristo, <br> e
                despenseiros dos mistérios de Deus</h2>
        </div>
        <div class="font-conteudo-banner" data-aos="zoom-out-up" data-aos-duration="1500">
            <p class="font">1 Coríntios 4:1</p>
        </div>

        <div class="button-donate-online" data-aos="fade-up" data-aos-duration="3000">
            <a href="#contato"><button type="button" class="btn btn-outline-danger">QUERO ME FILIAR</button></a>
        </div>
    </div>
</div>