<div class="background">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 image-igreja">
                <div class="about-image"><img src="../../assets/img/banner/sobre-igreja.png" alt="image" /></div>
            </div>
            <div class="col-lg-6 informacoes">
                <div class="font-open-sans">
                    <h6>QUEM SOMOS</h6>
                </div>
                <div class="font-poppins">
                    <h2>
                        Somos a Convenção Geral das Assembléia de Deus da Missão
                    </h2>
                </div>
                <div class="linha-vermelha">
                    <img src="images/icones/linha-vermeha.png" alt="">
                </div>
                <div class="font-poppins">
                    <p>Esta obra teve seu início em <span>1980</span>, como fruto do trabalho do pastor <span>Luiz de Menezes</span> na cidade de Peixoto de Azevedo no estado em <span>Mato Grosso</span>.</p>
                </div>

                <div class="font-damion">
                    <p class="font">Desde então, a <span>CGADMB</span> se empenha para apoiar seus ministros nessa missão gloriosa de semear a palavra a expandir o reino de Deus.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="icones-sobre ">
                            <img src="../../assets/img/icones/livro-vermelho.png" alt="">
                            <div class="font-poppins">
                                <h3>Bíblia, infalível e <br> inerrante</h3>
                            </div>
                            <div class="font-poppins">
                                <p>A bíblia é nossa regra de fé e conduta. Valorizamos a <span>Palavra</span> de Deus!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="icones-sobre ">
                            <img src="../../assets/img/icones/coracao-vermelho.png" alt="">
                            <div class="font-poppins">
                                <h3>Amor de Deus nos <br> corações</h3>
                            </div>
                            <div class="font-poppins">
                                <p>Cremos que o amor de Deus é derramado <br> nos corações por meio do <span>Espírito Santo</span>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-sobre">
                    <button type="button" class="btn btn-danger">Quero me filiar</button>
                </div>
            </div>
        </div>
    </div>
</div>