body {
    background: #021327;
    color: #ffffff;
    margin: 0px auto;
    overflow: hidden; 
    span {
        font-family: 'Poppins';
        font-size: 15px;
        position: relative;
        bottom: -4px;
    }
    img {
        position: relative;
        bottom: -2px;
    }
}

.text-center ul {
    text-align: center;

}

.text-center li {
    display: inline-block;
}

#player-musica {
    a {
        color: #ffffff;
    }
    a:hover {
        color: #c31818;
    }
}
