body {
    background: #021327;
    color: #ffffff;
    margin: 0px auto;
    overflow: hidden; 
    span {
        font-family: 'Poppins';
        font-size: 15px;
        position: relative;
        bottom: -4px;
    }
    img {
        position: relative;
        bottom: -2px;
    }
}

.voltar {
    button {
        width: 70px;
        height: 70px;
        background-color: #bf0a30;
        margin: 100px 40px;
        border-radius: 100%;
        border: 1px solid #bf0a30;
    }
    img {
        width: 50%;
    }
}



