<div class="header">
    <app-header></app-header>
</div>

<div class="banner">
    <div class="titulo">
        <h1>TITULO DO POST</h1>
    </div>
</div>

<div class="container">
    <div class="row post row-cols-1 row-cols-lg-1 row-cols-sm-1 row-cols-md-1 row-cols-ms-1">
        <div class="texto-post">
            <h2>SUB TITULO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis elementum massa. Ut dapibus purus ut
                dapibus aliquet. Suspendisse sed scelerisque purus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia curae; Vestibulum imperdiet suscipit vestibulum. Vivamus egestas eros nec
                sapien tempus porttitor. Nulla quis facilisis libero. Phasellus rhoncus, leo non placerat venenatis,
                libero tortor cursus neque, quis laoreet arcu massa aliquam dui. <br><br>

                Aliquam luctus, tellus sit amet tincidunt egestas, lectus tellus vehicula nisl, eu lacinia lectus arcu
                vitae lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam arcu metus, pretium vel
                tempor in, dignissim eu sem. Praesent facilisis felis mi. Sed porttitor nisi placerat eros eleifend, ac
                sagittis metus interdum. Vestibulum imperdiet ullamcorper ornare. Ut sollicitudin lacinia vulputate.
                Cras placerat est vitae nisi fringilla, a blandit lacus sollicitudin. Pellentesque venenatis turpis
                purus, ut mattis odio euismod in. Duis semper luctus purus non blandit.
                <br><br>
                Nulla mattis neque vitae justo placerat, vel feugiat ex commodo. Quisque scelerisque arcu eros, nec
                tincidunt risus consectetur non. Suspendisse lobortis dictum eros non aliquam. Sed massa quam, mattis
                eget velit sit amet, blandit tincidunt ante. Nulla tempus consectetur turpis sit amet gravida. Aliquam
                in dapibus nulla. Mauris dictum quis lorem eget sollicitudin. Integer pulvinar id tellus sed tincidunt.
                Vivamus efficitur metus sed leo dictum hendrerit. Cras luctus massa sed viverra eleifend. Curabitur non
                quam vitae lorem faucibus malesuada. Maecenas rhoncus scelerisque diam, ac cursus lectus condimentum
                nec. Pellentesque congue a massa at imperdiet. Aliquam non lorem a turpis consectetur dapibus ac ut
                diam. Suspendisse nec velit nunc.
            </p>
        </div>
    </div>
</div>

<app-radio></app-radio>