<div id="home"></div>

<nav class=" header navbar navbar-1 navbar-expand-lg topba d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none">
    <div class="container">
        <a class="icon-location" href="#"><img src="../../../assets/img/icones/pin.png" alt="">Convenção Geral das Assembleias de Deus da Missão</a>
        <ul class="nav justify-content-end">
            <li class="nav-item"><div class="size-icons-social-networks"><a target="_blank" href="https://www.facebook.com/ieadmnacional/"><img src="../../../assets/img/icones/logo-do-facebook.png" alt="facebook"></a></div></li>
            <li class="nav-item distancia"><div class="size-icons-social-networks"><a href="#contato"><img src="../../../assets/img/icones/email.png" alt="email"></a></div></li>
            <li class="nav-item"><div class="size-icons-social-networks networks"><a target="_blank" href="https://missaogospel.com/"><img src="../../../assets/img/icones/radio.png" alt="radio"></a></div></li>
        </ul>
    </div>
</nav>

<nav class="navbar header-2 navbar-expand-lg d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none">
    <div class="container">
        <a class="navbar-brand logo" href="#"><img src="../../../assets/img/logo/logo-cgadm.png" alt="cgadm"></a>
        <ul class="nav justify-content-end navbar-collapse navgation" id="navbarSupportedContent">
            <li class="nav-item"><a class="nav-link" href="#"><p>HOME<span>+</span></p></a></li>
            <li class="nav-item"><a class="nav-link" href="#sobre"><p>SOBRE<span>+</span></p></a></li>
            <li class="nav-item"><a class="nav-link" href="#diretoria"><p>DIRETORIA<span>+</span></p></a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://cgadmb.com.br/assets/download/estatuto_cgadmb.pdf"><p>ESTATUTO<span>+</span></p></a></li>
            <li class="nav-item"><a class="nav-link" href="#contato"><p>CONTATO<span>+</span></p></a></li>
            <li class="nav-item"><a class="nav-link" href="#noticias"><p>NOTICIAS<span>+</span></p></a></li>
            <a href="#contato"><button type="button" class="btn btn-danger">Filie-se</button></a>
        </ul>
    </div>
</nav>

<header class="header navbar navbar-expand-xl bg-light shadow-sm fixed-top d-xxl-none d-xxl-block d-xl-none">
    <div class="container px-3">
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="logo-mobile"><img src="../../../assets/img/logo/logo-cgadm-mobile.png" alt=""></div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 secoes-mobile">
                    <li class="nav-item row"> <div class="col"><a href="#" class="nav-link">HOME</a></div><div class="col"></div></li>
                    <li class="nav-item row"><div class="col"><a href="#sobre" class="nav-link">SOBRE</a></div><div class="col"></div></li>
                    <li class="nav-item row"><div class="col"><a href="#diretoria" class="nav-link">DIRETORIA</a></div><div class="col"></div></li>
                    <li class="nav-item row"><div class="col"><a target="_blank" href="https://cgadmb.com.br/assets/download/estatuto_cgadmb.pdf" class="nav-link">ESTATUTO</a></div><div class="col"></div></li>
                    <li class="nav-item"><a href="#contato" class="nav-link">CONTATO</a></li>
                    <li class="nav-item row"><div class="col"><a href="#noticias" class="nav-link">NOTICIAS</a></div><div class="col"></div></li>
                </ul>
            </div>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <a href="#" class="navbar-brand pe-3 logo-img"><img src="../../../assets/img/logo/logo-cgadm-mobile.png" width="47" alt="cgadm"></a>
        <a href="#" class="navbar-brand pe-3 lupa-mobile"><img src="../../../assets/img/banner/fundo-branco.png" width="47" alt="cgadm"></a>
    </div>
</header>