<footer class="site-footer footer-template-custom">

    <div class="footer-middle-wrap final-pagina">

        <div class="container"  data-aos="fade-right" data-aos-duration="3000">

            <div class="row">

                <div class="col-lg-3">

                    <div class="footer-middle-sidebar">

                        <section id="text-2" class="widget widget_text ">

                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="cgadm">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">Sobre</h3>
                                </div>
                            </div>

                            <div class="textwidget">
                                <section id="text-2" class="widget widget_text">
                                    <div class="textwidget">
                                        <p>Esta obra teve seu início em 1980, como fruto do trabalho do pastor Luiz de
                                            Menezes na cidade de Peixoto de Azevedo no estado em Mato Grosso.</p>
                                    </div>
                                </section>
                            </div>

                        </section>

                        <section id="zozo_social_widget-1" class="widget zozo_social_widget">

                            <div class="row">
                                <div class="col-1 rede-social-button"><a target="_blank" href="https://www.facebook.com/ieadmnacional/"><button type="button" class="btn btn-danger"><img src="../../assets/img/icones/logo-do-facebook.png" alt="cgadm"></button></a></div>
                                <div class="col-1"><a target="_blank" href="https://missaogospel.com/"><button type="button" class="btn btn-danger"><img src="../../assets/img/icones/radio.png" alt="cgadm"></button></a></div>
                            </div>

                        </section>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="footer-middle-sidebar">

                        <section id="text-2" class="widget widget_text ">

                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="cgadm">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">Seções</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a href="#">HOME</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a href="#sobre">SOBRE</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a href="#diretoria">DIRETORIA</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a target="_blank"
                                        href="https://cgadmb.com.br/assets/download/estatuto_cgadmb.pdf" alt="cgadm">ESTATUTO</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a href="#contato">CONTATO</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="cgadm">
                                </div>
                                <div class="col-auto secoes">
                                    <a href="#noticias">NOTICIAS</a>
                                </div>
                            </div>

                        </section>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="footer-middle-sidebar">

                        <section id="zegen_latest_post_widget-1" class="widget zegen_latest_post_widget">

                            <div class="row">
                                <div class="col-auto img-cruz"><img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="cgadm"></div>
                                <div class="col-auto"><h3 class="widget-title">Posts importantes</h3></div>
                            </div>

                            <div class="widg-content">

                                <div class="side-item">

                                    <div class=" mb-3" style="max-width: 540px;">

                                        <div class="row g-0">

                                            <div class="col-md-4 mb-3">
                                                <img src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/10/church-theme-blog-7-1-80x80.jpg"
                                                    class="img-fluid rounded-start" alt="cgadm">
                                            </div>

                                            <div class="col-md-8">
                                                <h5>Giving Back – Uganda Training Centers</h5>
                                                <p>Oct 21, 2019</p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class=" mb-2" style="max-width: 540px;">

                                        <div class="row g-0">

                                            <div class="col-md-4 mb-3">
                                                <img src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/10/church-theme-blog-7-1-80x80.jpg"
                                                    class="img-fluid rounded-start" alt="cgadm">
                                            </div>

                                            <div class="col-md-8">
                                                <h5>Giving Back – Uganda Training Centers</h5>
                                                <p>Oct 21, 2019</p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </section>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="footer-middle-sidebar">

                        <section id="zegen_mailchimp_widget-1" class="widget zegen_mailchimp_widget">

                            <div class="row">
                                <div class="col-auto img-cruz"><img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="cgadm"></div>
                                <div class="col-auto"><h3 class="widget-title">Newsletter</h3></div>
                            </div>

                            <div class="mailchimp-wrapper">

                                <form class="zozo-mc-form" id="zozo-mc-form" method="post">

                                    <p class="zozo-mc-subtitle">Utilize o formulário abaixo, responderemos o mais breve possível.</p>
                                    <input type="hidden" name="zegen_mc_listid" value="38e2b49613">

                                    <div class="input-group">
                                        <input type="text" class="form-control zozo-mc-email" id="zozo-mc-email" placeholder="Email Address" name="zozo_mc_email">
                                        <div class="botao"><input class="input-group-addon zozo-mc btn btn-default" type="button" name="Sign Up " value="Sign Up "></div>
                                    </div>

                                </form>
                                <!--Mailchimp Custom Script-->

                                <div class="mc-notice-group" data-success="You are subscribed now." data-fail="Please enter valid email address">
                                    <span class="mc-notice-msg"></span>
                                </div><!--.mc-notice-group -->

                            </div><!-- .mailchimp-wrapper -->

                        </section>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <a href="#" class="back-to-top position-right" id="back-to-top"><i class="ti-angle-up"></i></a>

</footer>

<body>
    <div class="container">
    <div id="player">

        <div class="row text-center">

            <div class="col-lg-4 row">

                <div class="col-6">
                    
                </div>

            </div>

            <div class="col-lg-4 row">
                

                <div class="">
                    <div id="player-musica" class="texto_padrao" onclick="abrir_popup_letra();">
                        <div class="marquee"><span id="musica_atual">acesse também missaogospel.com</span></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>

</body>
