
<div class="espaco-conteudo navbar-1">
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div id="carouselExampleCaptions" class="carousel slide banner" data-bs-ride="false">

            <div class="carousel-inner">
                <div class="carousel-item active conteudo-banner-texto">
                    <div class="imagem-banner-1"></div>
                    <div class="carousel-caption apresentacao">
                        <img src="../../../assets/img/icones/passaro.png" alt="cgadm">
                        <h2 data-aos="zoom-in" data-aos-duration="1500">O zelo por tua casa me consumirá...</h2>
                        <p data-aos="zoom-in" data-aos-duration="2000">Assim como nosso mestre, somos zelosos pela casa do pai. <br> Venha fazer parte deste corpo de ministros compromissados com o reino!</p>
                        <div class="button-banner button-mobile d-xxl-none d-xxl-block d-xl-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                        <div class="button-banner d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imagem-banner-2"></div>
                    <div class="carousel-caption apresentacao"> 
                        <img src="../../../assets/img/icones/passaro.png" alt="cgadm">
                        
                        <h2>Mantendo os bons costumes</h2>
                        <p>Seguimos fielmente às origens da Assembléia de Deus no Brasil, <br> como diz Atos 6:4 "Mas nós perseveraremos na oração e no ministério da palavra."</p>
                        <div class="button-banner button-mobile d-xxl-none d-xxl-block d-xl-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                        <div class="button-banner d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                    </div>
                </div>
            </div>

            <div class="botoes-carrossel-botoes d-none d-xxl-block">
                <div class="botao-carrossel-voltar">
                    <button data-aos="zoom-in" data-aos-duration="1500" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>
                <div class="botao-carrossel-avancar">
                    <button data-aos="zoom-in" data-aos-duration="1500" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

