
<div class="espaco-conteudo navbar-1">
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div id="carouselExampleCaptions" class="carousel slide banner" data-bs-ride="false">

            <div class="carousel-inner">
                <div class="carousel-item active conteudo-banner-texto">
                    <div class="imagem-banner-1"></div>
                    <div class="img-passaro"></div>
                    <div class="carousel-caption apresentacao">
                        <img src="../../../assets/img/icones/passaro.png" alt="Passaro-cgadm">
                        <h2 class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block">O zelo por tua casa me consumirá...</h2>
                        <div class="h2-mobile d-xxl-none d-xxl-block d-xl-none"><h2>O zelo por tua casa me consumirá...</h2></div>
                        <p class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block">Assim como nosso mestre, somos zelosos pela casa do pai. <br> Venha fazer parte deste corpo de ministros compromissados com o reino!</p>
                        <div class="p-mobile d-xxl-none d-xxl-block d-xl-none"><p>Assim como nosso mestre, somos zelosos pela casa do pai. <br> Venha fazer parte deste corpo de ministros compromissados com o reino!</p></div>
                        <div class="button-banner">
                            <div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                            <div class="button-mobile d-xxl-none d-xxl-block d-xl-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imagem-banner-2"></div>
                    <div class="carousel-caption apresentacao">
                        <img src="../../../assets/img/icones/passaro.png" alt="">
                        <div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block"><h2>Mantendo os bons costumes</h2></div>
                        <div class="h2-mobile d-xxl-none d-xxl-block d-xl-none"><h2>Mantendo os bons costumes</h2></div>
                        <div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block"><p>Seguimos feis às origens da Assembléia de Deus no Brasil, <br> como diz Atos 6:4 "Mas nós perseveraremos na oração e no ministério da palavra."</p></div>
                        <div class="p-mobile d-xxl-none d-xxl-block d-xl-none"><p>Seguimos feis às origens da Assembléia de Deus no Brasil, <br> como diz Atos 6:4 "Mas nós perseveraremos na oração e no ministério da palavra."</p></div>
                        <div class="button-banner">
                            <div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                            <div class="button-mobile d-xxl-none d-xxl-block d-xl-none"><a href="#contato"><button type="button" class="btn btn-danger">Quero me filiar</button></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botoes-carrossel-botoes d-none d-xxl-block">
                <div class="botao-carrossel-voltar">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>
                <div class="botao-carrossel-avancar">
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="botoes-carrossel-botoes d-none d-xl-block d-xxl-none">
                <div class="botao-carrossel-voltar-mobile">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>
                <div class="botao-carrossel-avancar-mobile">
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

