<div class="background-image-apresentacao">
    <div class="container-conteudo">
        <div class="button-donate-online-logo">
            <button type="button" class="btn btn-danger"><img src="../../assets/img/icones/contorno-em-forma-de-coracao.png"
                    alt=""></button>
        </div>
        <h2>Procure apresentar-se a Deus aprovado, <br> como obreiro que não tem do que se envergonhar <br> e que maneja corretamente a palavra da verdade.
        </h2>

        <div class="font-conteudo-banner">
            <p class="font">2 Timóteo 2:15</p>
        </div>
        <div class="button-donate-online">
            <button type="button" class="btn btn-outline-danger">DONATE ONLINE</button>
        </div>
    </div>
</div>