<div id="diretoria"></div>

<div class="container out-ministries">
    <h6>DIRETORIA</h6>
    <h2>Diretoria Geral</h2>
    <img src="../../assets/img/icones/linha-vemalhar-centro-branco.png" alt="">
    <p>Nossa diretoria é composta por abnegados homens de Deus, que se dispuseram a trabalhar com afinco pela
        organização e expansão do Reino do Senhor. <br> Abaixo listamos os nomes com seus respectivos cargos:</p>
</div>

<div class="container conteudo">
    <div class="cargos">
        <h5>PRESIDÊNCIA</h5>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">Presidente</h4>
                    <p class="card-text">Ailton César Rosa</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">1º Vice</h4>
                    <p class="card-text">Elifaz de Souza</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">2º Vice</h4>
                    <p class="card-text">Israel Henrique dos Santos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">3º Vice</h4>
                    <p class="card-text">Arnaldo Bernadino da Silva</p>
                </div>
            </div>
        </div>
    </div>


    <div class="cargos">
        <h5>SECRETARIA</h5>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">1º Secretário</h4>
                    <p class="card-text">Erlan Tiago Monteiro da Costa</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">2º Secretário</h4>
                    <p class="card-text">Antônio Sérgio Cardoso de Moraes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h5 class="card-title">3º Secretário</h5>
                    <p class="card-text">Ronivon Batista Nogueira</p>
                </div>
            </div>
        </div>

    </div>

    <div class="cargos">
        <h5>TESOURARIA</h5>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">1º Tesoureiro</h4>
                    <p class="card-text">Mário César da Silva</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">2º Tesoureiro</h4>
                    <p class="card-text">Robson Moreira Azevedo</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card presidentes">
                <!--image<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h4 class="card-title">3º Tesoureiro</h4>
                    <p class="card-text">Fagner de Matos Gomes</p>
                </div>
            </div>
        </div>

    </div>

</div>