.conteudo {
    margin-bottom: 110px;
}

.out-ministries {
    text-align: center;
    margin-top: -10px;
    p {
        font-family: 'Poppins';
    }
}

.out-ministries img {
    width: 80px;
    margin: -8px auto 30px auto;
}

.out-ministries h2 {
    margin-bottom: 30px;
    margin-top: -12px;
    font-size: 33px;
    font-family: 'Poppins';
    font-weight: 700;
}

.out-ministries h6 {
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 110px;
    color: rgb(60, 85, 85);
}

.presidentes {
    background-color: #021327;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.cargos {
    margin-top: 30px;
    margin-bottom: 10px;

}
h5 {
    font-family: 'Poppins';
    font-weight: 600;
}